<footer class="footer">
  <div class="footer__container--image">
    <div class="footer__nav">
      <div class="footer__nav-column">
        <h4 class="footer__nav-title">Navigation</h4>
        <ul>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/digital-services">Digital Services</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/workday">Workday</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/industries">Industries</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/insights">Insights</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://careers.kainos.com/gb/en">Careers</a></li>
        </ul>
      </div>
      <div class="footer__nav-column">
        <h4 class="footer__nav-title">About Kainos</h4>
        <ul>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/about-us">About us</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://careers.kainos.com/gb/en/life-at-kainos">Our culture</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/about-us/our-approach">Our approach</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/about-us/diversity-and-inclusion">Diversity and inclusion</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/about-us/sustainability">Sustainability</a></li>
        </ul>
      </div>
      <div class="footer__nav-column">
        <h4 class="footer__nav-title">Investor Relations</h4>
        <ul>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/investor-relations">Investor relations home</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/investor-relations/investor-tools">Investor tools</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/investor-relations/results-and-presentations">Results and presentations</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/investor-relations/regulatory-news-and-events">Regulatory news and events</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/investor-relations/people-and-policies">People and policies</a></li>
        </ul>
      </div>
      <div class="footer__nav-column">
        <h4 class="footer__nav-title">Legal</h4>
        <ul>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/information/privacy-notice">Privacy notice</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/information/corporate-information">Corporate information</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/information/modern-slavery-statement">Modern slavery statement</a></li>
          <li class="footer__nav-list-item"><a class="footer__nav-list-link" href="https://www.kainos.com/information/recruitment-notice">Recruitment notice</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__socials">
      <span class="footer__socials-title">Social links</span>
      <ul class="footer__socials-list">
        <li class="footer__socials-list-item">
          <a class="cta-block" href="https://www.linkedin.com/company/kainos/" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li class="footer__socials-list-item">
          <a class="cta-block" href="https://x.com/KainosSoftware" title="X">
            <i class="fab fa-twitter"></i>
            <span class="sr-only">X</span>
          </a>
        </li>
        <li class="footer__socials-list-item">
          <a class="cta-block" href="https://www.facebook.com/KainosSoftware/" title="Facebook">
            <i class="fab fa-facebook"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__logo">
      <img class="footer__logo-image" src="/Kainos-alt-transparent.png" alt="Kainos Logo" />
    </div>

    <div class="footer__bottom">
      <div class="footer__bg-image footer__bg-image--desktop"></div>
      <div class="footer__slogan">
        <b>Thinking</b>
        <b class="footer__slogan-beyond">Beyond</b>
        <b>Limitations</b>
      </div>
      <p class="footer__copyrights">&copy; 2026 Kainos. Registered in NI NI019370</p>
    </div>
  </div>
</footer>
<script>
  // Sync JWT token between cookie and sessionStorage
  (() => {
    const match = document.cookie.match(/(?:^|;\s*)token=([^;]*)/);
    if (match && match[1]) {
      sessionStorage.setItem("token", match[1]);
    } else {
      sessionStorage.removeItem("token");
    }
  })();
</script>
