<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kainos Careers - Home</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
<body>
  {% include "partials/header.html" %}  
  <div class="hero container">
    <h1>Welcome to Kainos Careers</h1>
    <p>View open roles across Kainos.</p>
  </div>
  {% include "partials/footer.html" %}
</body>
</html>
