name: PR Checks

on:
    push:
        branches: [main]
    pull_request:
        types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4

    - name: Install dependencies
      run: npm install

    - name: Format code
      run: npm run format

    - name: Lint code
      run: npm run lint

    - name: Run tests
      run: npm run test
